<div class="jumbotron">
  <h2>Bienvenidos a Dromiciops.</h2>

  <h4>El <b>MeLi</b>-ddleware</h4>
</div>
<div class="row">
  <div class="col-lg-6">
    <table class="table">
      <tr>
        <td>Usuario</td>
        <td colspan="2">Nickname</td>
      </tr>
      <%= for user <- @users do %>
        <tr>
          <td><%= user %></td>
          <td> <%= Exredis.Api.hget(:redis, user, "nickname") %> </td>
          <td><a id="close-button" class="close-btn" href="/delete_user/<%= user %>">&#10006;</button></td>
        </tr>
      <% end %>
    </table>
    <a href="<%= @code_url %>" class="btn btn-default">Registrar</a>
  </div>
  <div class="col-lg-6">
    <img src="images/dromiciops.png" width="100%">
  </div>

</div>
<div class="row" style="padding-top:100px">
  <div class="col-xs-12 panel panel-default">
    <div class="panel-body">
      <b>Password: <%= @passwd %></b>
      <br>
      <br>
      <b>Ejemplos</p>
        <pre>
POST TEST USER
curl -XPOST -H "Content-Type:application/json" -H "passwd:<%= @passwd %>" -d '{"endpoint": "/users/test_user", "method": "POST", "user": "<%= @user %>", "document": {"site_id": "MLC"}}' localhost:4000/api
        </pre>
        <pre>
GET MY INFO
curl -XPOST -H "Content-Type:application/json" -H "passwd:<%= @passwd %>" -d '{"endpoint": "/users/me", "method": "GET", "user": "<%= @user %>"}' localhost:4000/api
        </pre>
        <pre>
GET MY ORDERS
curl -XPOST -H "Content-Type:application/json" -H "passwd:<%= @passwd %>" -d '{"endpoint": "/orders/search", "method": "GET", "user": "<%= @user %>", "attrs": {"seller": "<%= @user %>"}}' localhost:4000/api
        </pre>
        <pre>
GET MY SOLD ITEMS
curl -XPOST -H "Content-Type:application/json" -H "passwd:<%= @passwd %>" -d '{"endpoint": "/orders/search", "method": "GET", "user": "<%= @user %>", "attrs": {"seller": "55084113"}}' localhost:4000/api
        </pre>
        <pre>
POST NEW ITEM
curl -XPOST -H "Content-Type:application/json" -H "passwd:<%= @passwd %>" -d '{"endpoint": "/items", "method": "POST", "user": "<%= @user %>", "document": {"title": "Rata con leptospirosis, no comprar", "category_id": "MLC1109", "listing_type_id": "gold", "currency_id": "CLP", "price": 1000000, "available_quantity": 1, "description":"IGUAL ES LINDA", "condition": "used"}}' localhost:4000/api
        </pre>
        <pre>
UPDATE MY ITEM
curl -XPOST -H "Content-Type:application/json" -H "passwd:<%= @passwd %>" -d '{"endpoint": "/items/MLC439596453", "method": "PUT", "user": "<%= @user %>", "document": {"pictures": [{"source": "http://www.animalfactguide.com/wp-content/uploads/2013/08/quokka1.jpg"}]}}' localhost:4000/api
        </pre>
        <pre>
CLOSE MY ITEM
curl -XPOST -H "Content-Type:application/json" -H "passwd:<%= @passwd %>" -d '{"endpoint": "/items/MLC439596453", "method": "PUT", "user": "<%= @user %>", "document": {"status":"closed"}}' localhost:4000/api
        </pre>
    </div>
  </div>

</div>
