/* This file is for your main application css. */
#close-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  text-decoration: none;
}

#close-button:hover {. opacity: 0.75; } 
